@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.heading-text {
    font-family: "Noto Sans", sans-serif;
}

.body-text {
    font-family: "Noto Serif", serif;
}

.heading-text-size {
    font-size: 24px;
}

// .page-title-size {
//     font-size: 32px;
// }

// .body-text-size {
//     font-size: 16px;
// }

// .text-cloud-burst {
//     color: #203356;
// }
// .text-link-water {
//     color: #d9edf7;
// }
// .text-golden-sand {
//     color: #f5d473;
// }
// .text-tundora {
//     color: #404040;
// }

// .bg-cloud-burst {
//     background-color: #203356;
// }
// .bg-link-water {
//     background-color: #d9edf7;
// }
// .bg-golden-sand {
//     background-color: #f5d473;
// }
// .bg-tundora {
//     background-color: #404040;
// }

a:link {
    // @extend .text-cloudburst;
}

/* visited link */
a:visited {
    // @extend .text-cloudburst;
}

/* mouse over link */
a:hover {
    // @extend .text-goldensand;
}

/* selected link */
a:active {
    // @extend .text-goldensand;
}
